# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Builds
dist/
build/
client/dist/
server/dist/

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env

# Databases
*.db
*.db-journal
server/prisma/dev.db
server/prisma/dev.db-journal

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
